// 阴影
$div-base-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
$div-base-border-radius: 5px;

@mixin divInitialization($bs: $div-base-box-shadow, $br: $div-base-border-radius) {
  box-shadow: $bs;
  border-radius: $br;
  overflow: hidden !important;
}

// flex布局
$ais: flex-start;
$jc: flex-start;

@mixin flexInit($ais: $ais, $jc: $jc) {
  display: flex;
  align-items: $ais;
  justify-content: $jc;
}

// 滚动条
$sbh: 5px;
$sbw: 5px;
$sbrb: 5px;
$sbbc: rgba(
  $color: #c8c9cc,
  $alpha: 0.5
);
$sbhbc: rgba(
  $color: #c8c9cc,
  $alpha: 1
);
@mixin scrollbar($h: $sbh, $w: $sbw, $rb: $sbrb, $bc: $sbbc, $hbc: $sbhbc) {
  &::-webkit-scrollbar {
    height: $sbh;
    width: $w;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $rb;
    background-color: $bc;

    &:hover {
      background-color: $hbc;
    }
  }
}
